html, body {
	margin: 0px;
}

body {
   font-family: Verdana, Helvetica, sans-serif;
}


.leftborder {
    position: relative;
    float: left;
    width: 20%;
    background: #13b4ff;
  	height: 100%;
  	margin-bottom: -5000px;
  	padding-bottom: 5000px;
  	overflow: hidden;
}

.leftborder a {
	margin-top: 2%;
	margin-left: 2%;
}

.content {
	position: absolute;
	text-align: left;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    background: #fff;
    height: 100%;
    margin-bottom: -10px;
}

.rightborder {
    position: relative;
    float: right;
    width: 20%;
    background: #13b4ff;
  	height: 100%;  	
  	margin-bottom: -5000px;
  	padding-bottom: 5000px;
  	overflow: hidden;
}
	
.rightborder > .weeklyUpdate {
	width: 100%;
    text-align: center;
}

