	<div id="wrapper" class="toggled">
		<div id="sidebar-wrapper">
	            <ul class="sidebar-nav">
	                <li class="sidebar">
	                    <a href="/">
	                        Home
	                    </a>
	                </li>
	                <li>
	                    <a href="/random">Random Recipe</a>
	                </li>
	                <li>
	                	<%
			
					    UserService userService = UserServiceFactory.getUserService();
				
					    User user = userService.getCurrentUser();
				
					    if (user != null) {
				
					      pageContext.setAttribute("user", user);
				
						%>
										
						<a href="<%= userService.createLogoutURL("/home.jsp") %>">Sign out</a></p>
					
						<%
					
						    } else {
					
						%>
						<a href="<%= userService.createLoginURL("/home.jsp") %>">Sign in</a>
									
						<%
					
						    }
				
						%>
                	</li>
	            </ul>
	      </div>
	  </div>