<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         version="2.5">
  
  <servlet>
    <servlet-name>FeedMe</servlet-name>
    <servlet-class>feedMe.FeedMeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedMe</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RandomRecipe</servlet-name>
    <servlet-class>feedMe.RandomRecipesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RandomRecipe</servlet-name>
    <url-pattern>/random</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SpecificRecipe</servlet-name>
    <servlet-class>feedMe.SpecificRecipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpecificRecipe</servlet-name>
    <url-pattern>/recipe/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>WeeklyUpdate</servlet-name>
    <servlet-class>feedMe.WeeklyUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeeklyUpdate</servlet-name>
    <url-pattern>/cron/weeklyupdate</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  
  <security-constraint>
    <web-resource-collection>
        <web-resource-name>cron</web-resource-name>
        <url-pattern>/cron/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
        <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>